{namespace ptc=Tx_PtConference_ViewHelpers}

<script type="text/javascript">
    $(document).ready(function() {
    	$('#scanInput').focus();
	});
</script>

<div>
	<ptc:HtmlDecode value="{attendeeStatus}" />
</div>

<div>
	<ptc:TranslatedFlashMessages />
</div>

<div>
	<f:form action='submit'>
		<div style="margin-left:350px; padding:15px;">
			<div>
				<f:form.textbox name="scanInput" id="scanInput"/>
			</div>
		</div>
	</f:form>
</div>
<div>
	<ptc:HtmlDecode value="{checkInList}" />
</div>