<f:layout name="default" />

This template displays a EDIT form for the current domain object.

<f:section name="main">
<h1>Edit relarticle</h1>

<f:flashMessages />

<f:render partial="formErrors" />

<f:form method="post" action="update" name="relarticle" object="{relarticle}">
	<label for="title"><f:translate key="tx_ptconference_domain_model_relarticle.tx_ptgsashop_orders_articles_uid" /></label><br />
	<f:form.textbox property="tx_ptgsashop_orders_articles_uid" /><br />
	<label for="title"><f:translate key="tx_ptconference_domain_model_relarticle.tx_ptgsashop_customer_uid" /></label><br />
	<f:form.textbox property="tx_ptgsashop_customer_uid" /><br />
	<label for="title"><f:translate key="tx_ptconference_domain_model_relarticle.articlecode" /></label><br />
	<f:form.textbox property="articlecode" /><br />
	<f:form.submit value="Edit" />
</f:form>
</f:section>